body {
  background-color: white;
  font-size: 1rem;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 1.8em;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  text-align: justify;
  margin: 0;
  padding-bottom: 1em;
}

ul {
  font-size: 1.2em;
  padding: 0 1.2em;
  list-style-type: disc;
}

li {
  width: 100%;
}

img {
  display: block;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  height: 400px;
  padding: 2em 0;
  gap: 2em;
}

.xs {
  padding: 2em 0 0 0;
  height: fit-content;
}

.p {
  padding-top: 1em;
}

.xs > p {
  padding: 0;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.item-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.citation {
  font-style: italic;
  font-size: 1.1em;
}


/* Responsiveness */
/* Mobile xs */
@media (max-width: 576px) {
  body {
    background-color: white;
    font-size: 0.7rem;
  }
  ul {
    font-size: 1.1em;
  }
  .container {
    width: 434px;
  }
  .imgshow {
    width: 130px;
  }
}

/* Mobile s */
@media (min-width: 577px) and (max-width: 768px) {
  body {
    background-color: red;
    font-size: 0.8rem;
  }

  ul {
    font-size: 1.1em;
  }

  .container {
    width: 579px;
  }
  
  .container-xs {
    width: 579px;
  }
  .imgshow {
    width: 180px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 992px) {
  body {
    background-color: green;
    font-size: 0.9rem;
  }

  .container {
    width: 771px;
  }

  .container-xs {
    width: 771px;
  }
  .imgshow {
    width: 250px;
  }
}

/* Everything else (default behavior) */
@media (min-width: 993px) {
  body {
    background-color: blue;
  }

  .container {
    width: 992px;
  }

  .container-xs {
    width: 992px;
  }
  .imgshow {
    width: 320px;
  }
}